body {
    height: 750px;
    padding-top: 80px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(e-commerce\ icons/download.jpeg);
}


header {
    font-family: Arial, sans-serif;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(86, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1;
}

.left-section {
    width: 250px;
    margin-right: 40px;
    margin-left: 40px;
}

.logo {
    color: rgb(216, 216, 216);
    font-size: 45px;
    font-family: "anton", sans-serif;
    white-space: nowrap;
}

.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 30px;
    margin-right: 40px;
}

.search-bar {
    height: 33px;
    display: flex;
    flex: 1;
    border-radius: 17px;
    border: none;
    padding-left: 15px;
    box-shadow: 1px 2px 7px inset rgba(0, 0, 0, 0.2);
    outline: none;
    transition: background-color 0.15s;
}

.search-bar:hover {
    background-color: rgb(236, 236, 236);
}

.search-bar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.search-button {
    background-color: rgb(154, 154, 154);
    width: 65px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 16px 16px 0px;
    border: none;
    margin-left: -65px;
    transition: background-color 0.09s;
}

.search-button:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.search-button:active {
    background-color: rgb(235, 235, 235);
}

.search-button-img {
    width: 25px;
}

.right-section {
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-left: 60px;
}

.buttons {
    height: 28px;
    width: 50px;
    background-color: rgb(166, 166, 166);
    margin-right: 30px;
    color: rgb(140, 140, 140);
    font-family: "anton", sans-serif;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 4px;
    transition: background-color 0.15s, color 0.15s;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.buttons:hover {
    background-color: rgb(153, 153, 153);
    color: rgb(235, 233, 233);
}

.buttons:active {
    background-color: rgb(127, 127, 127);
}

.icon {
    width: 19px;
}

.search-filter {
    margin-bottom: 15px;
    margin-left: -10px;
}

.filters {
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    height: 35px;
    width: 124px;
    padding: 5px 8px 5px 8px;
    outline: none;
    cursor: pointer;
}

.sort-filters {
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    padding: 5px 8px 5px 8px;
    outline: none;
    cursor: pointer;
}

.grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;

}


.product {
    border: 1px solid rgb(87, 0, 0);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(120, 120, 120, 0.566);
}

.product-img {
    width: 185px;
}

.wishlist {
    position: relative;
}

.wishlist-button {
    position: absolute;
    top: 10px;
    right: 17px;
}

.b {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    transition: background-color 0.15s;
    cursor: pointer;
}

.b:hover {
    background-color: rgb(198, 198, 198);
}

.b:active {
    background-color: rgb(140, 140, 140);
}

.b:hover .tooltip {
    opacity: 1;
}

.wish-img {
    width: 23px;
}

.product-name {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.desc {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 13px 0;
}

.product-price {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 13px 0;
}

.add-button {
    height: 35px;
    width: 95px;
    border-radius: 18px;
    border: none;
    background-color: rgb(76, 0, 0);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.15s;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(114, 0, 0);
}

.add-button:active {
    background-color: rgb(151, 0, 0);
}

.tooltip {
    background-color: gray;
    color: white;
    position: absolute;
    left: -102px;
    top: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;

}


.copyright {
    background-color: rgb(72, 0, 0);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 50px;
    position: static;
}